.title {
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(45deg, #2d6cb9, #1d3557);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
}

.title mat-icon {
  vertical-align: middle;
  color: white;
}
/* Estilo del ícono y texto */
.back-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px; /* Tamaño del texto */
  text-decoration: none;
  margin-right: 30px;
  padding: 10px;
  font-weight: bold; 
}

/* Estilo del ícono dentro del enlace */
.back-icon mat-icon {
  font-size: 24px; /* Tamaño del ícono */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
  font-weight: bold; 
}

/* Efecto de hover sobre todo el enlace */
.back-icon:hover {
  transform: scale(1.1); /* Aumenta el tamaño de todo el conjunto */
}

/* Efecto de hover sobre el ícono */
.back-icon mat-icon:hover {
  transform: scale(1.2); /* Efecto de zoom solo para el ícono */
}

/* Efecto de hover sobre el texto */
.back-icon:hover span {
  font-weight: bold; /* Hace que el texto se ponga en negrita al pasar el ratón */
}


.catalogo-container {
  margin-top: 75px;
  text-align: center;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.dropdown-container select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  width: 190px;
  min-width: 170px;
  cursor: pointer;
}

.dropdown-container select:hover {
  border-color: #3181d2;
}

.dropdown-container option {
  padding: 8px;
}

.whatsapp-container {
  margin-top: 20px;
  text-align: center;
}

.btn-whatsapp {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #1fcd5f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  gap: 10px;
}

.btn-whatsapp:hover {
  background-color: #1da851;
}

.whatsapp-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.logo-container {
  cursor: pointer;
  display: inline-block;
}

.logo-container img {
  height: auto;
  transition: transform 0.3s ease;
}

.logo-container img:hover {
  transform: scale(1.1);
}
