<div class="banner">
  <!-- Contenedor del logo -->
  <div class="logo-container">
    <img src="assets/iconos y logos/logoilmondo.png" alt="Logo Ilmondo">
  </div>
</div>

<div class="catalogo-container">
  <h2 class="title">
    <mat-icon> format_align_justify </mat-icon>
    <span>&nbsp;</span> 
     Catálogo de Productos
  </h2>
  <!-- Título del catálogo -->

  <div *ngIf="productos.length === 0">
    <p class="loading-text">Cargando productos...</p>
  </div>

  <div class="container">
    <div *ngFor="let producto of productos" class="card">
      <div class="image-container">
        <img [src]="producto.foto" alt="{{ producto.nombre }}" />
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ producto.nombre }}</h3>
        <p class="card-price">Precio: {{ producto.precio | number }}gs</p>
        <p class="card-box">Unidades/c: {{ producto.caja }}</p>
        <button>Detalle</button>
      </div>
    </div>
  </div>
</div>

