<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Catalogoilmondo</title>
  <base href="/Catalogo-ilmondo/assets/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">

  <!-- Banner -->
  <div class="banner">
    <!-- Contenedor del logo principal -->
    <div class="logo-container">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/logoilmondo.png" alt="Logo Ilmondo">
    </div>

    <!-- Contenedor de los logos de marcas -->
    <div class="brands-container">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/coricelli_logo.png" alt="Marca 1" class="brand-logo">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/logoBonaroma.png" alt="Marca 2" class="brand-logo">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/logoSansebastian.png" alt="Marca 4" class="brand-logo">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/okfLogo.png" alt="Marca 5" class="brand-logo">
      <img src="/Catalogo-ilmondo/assets/iconos%20y%20logos/edelmeister_logo.png" alt="Marca 3" class="brand-logo">
    </div>
  </div>

  <!-- Catálogo -->
  <div class="catalogo-container">
    <!-- Título del catálogo -->
    <h2 class="title">
      <mat-icon>format_align_justify</mat-icon>
      Catálogo de Productos
    </h2>

    <!-- Contenedor de búsqueda y categorías -->
    <div class="search-categories-container">
      <!-- Input de búsqueda -->
      <div class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="filtrarProductos()"
          placeholder="Buscar productos..."
          class="search-input"
        />
      </div>

      <!-- Desplegable Categorías -->
      <div class="dropdown-container">
        <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
          <option value="">Todas las categorías</option>
          <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
        </select>
      </div>
    </div>

    <!-- Mensaje de carga -->
    <div *ngIf="productosFiltrados.length === 0">
      <p class="loading-text">No se encontraron productos.</p>
    </div>

    <!-- Contenedor de tarjetas -->
    <div class="container">
      <div *ngFor="let producto of productosFiltrados" class="card">
        <div class="image-container">
          <!-- Imagen de producto -->
          <img [src]="producto.foto" alt="{{ producto.nombre }}" />
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ producto.nombre }}</h3>
          <p class="card-price">Precio c/u: <span class="price-number">{{ producto.precio | number }}</span> <span class="price-currency">gs</span></p>
          <p class="card-box">Unidades/c: {{ producto.caja }}</p>
          <button>Detalle</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
