<div *ngIf="showClientForm">
  <!-- Superposición del fondo -->
  <div class="overlay"></div>

  <!-- Formulario -->
  <div class="formulario-container">
    <h2>Formulario de Pedido</h2>
    <form (ngSubmit)="onSubmit(clientForm)" #clientForm="ngForm">
      <!-- Campo Nombre -->
      <div>
        <label for="firstName">Nombre*</label>
        <input
          id="firstName"
          name="firstName"
          [(ngModel)]="clientData.firstName"
          #firstName="ngModel"
          required
        />
        <div *ngIf="firstName.invalid && firstName.touched" class="error"></div>
      </div>

      <!-- Campo Apellido -->
      <div>
        <label for="lastName">Apellido*</label>
        <input
          id="lastName"
          name="lastName"
          [(ngModel)]="clientData.lastName"
          #lastName="ngModel"
          required
        />
        <div *ngIf="lastName.invalid && lastName.touched" class="error"></div>
      </div>

      <!-- Campo Correo Electrónico -->
      <div>
        <label for="email">Correo electrónico*</label>
        <input
          id="email"
          name="email"
          [(ngModel)]="clientData.email"
          type="email"
          #email="ngModel"
          required
        />
        <div *ngIf="email.invalid && email.touched" class="error"></div>
      </div>

      <!-- Campo Sucursal -->
      <div>
        <label for="sucursal">Sucursal*</label>
        <select
          id="sucursal"
          name="sucursal"
          [(ngModel)]="clientData.sucursal"
          #sucursal="ngModel"
          required
        >
          <option value="" disabled selected>Seleccione una sucursal</option>
          <option value="CDE">CDE</option>
          <option value="Asuncion">Asunción</option>
        </select>
        <div *ngIf="sucursal.invalid && sucursal.touched" class="error"></div>
      </div>

      <!-- Botones -->
      <button type="submit" [disabled]="clientForm.invalid">Enviar</button>
      <button type="button" (click)="cerrarFormulario()">Cancelar</button>
    </form>
  </div>
</div>

<!-- Preloader -->
<div *ngIf="isLoading" id="preloader">
  <div class="spinner"></div>
</div>

<!-- Banner con logo y flecha hacia atrás -->
<div *ngIf="!isLoading">
  <div class="banner">
    <!-- Logo a la izquierda -->
    <a href="/inicio" class="logo-container">
      <img src="assets/iconosylogos/logoilmondo.png" alt="Logo Ilmondo" />
    </a>

    <!-- Flecha doblada hacia atrás -->
    <a class="back-icon" [routerLink]="'/inicio'" aria-label="Volver">
      <mat-icon>arrow_back</mat-icon>
      Volver
    </a>
  </div>

  <!-- Lista -->
  <div class="lista-container">
    <h2 class="title">
      <mat-icon>shopping_cart</mat-icon>
      Carrito
    </h2>
  </div>

  <div class="container">
    <div *ngIf="productosEnLista.length === 0">
      <p>No has agregado productos a tu lista.</p>
    </div>

    <div *ngFor="let producto of productosEnLista" class="card">
      <div class="image-container">
        <img [src]="producto.foto" alt="{{ producto.nombre }}" />
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ producto.nombre }}</h3>
        <p class="card-category">{{ producto.categoria }}</p>
        <p class="card-price">Gs. {{ producto.precio | number : "1.0-0" }}</p>
        <p class="iva-text">Disponibilidad sujeta a cambios • IVA incluido</p>
      </div>

      <div class="actions">
        <div class="quantity-control">
          <div class="comet-v2-input-number">
            <!-- Botón de restar -->
            <button
              class="comet-v2-input-number-btn decrease"
              (click)="restarCantidad(producto)"
            >
              <mat-icon>remove</mat-icon>
            </button>

            <!-- Input editable -->
            <input
              type="number"
              class="comet-v2-input-number-input"
              [(ngModel)]="producto.cantidad"
              (change)="validarCantidad(producto)"
              min="1"
            />

            <!-- Botón de sumar -->
            <button
              class="comet-v2-input-number-btn increase"
              (click)="sumarCantidad(producto)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <!-- Enlace eliminar -->
          <a class="delete-link" (click)="eliminarProducto(producto)">
            <mat-icon class="delete-icon">delete</mat-icon>
            Eliminar
          </a>
        </div>
      </div>
    </div>

    <!-- Contenedor para los botones "Enviar Pedido" y "Volver al catálogo" -->
    <div class="action-buttons">
      <!-- Botón Volver al catálogo -->
      <a class="back-link" [routerLink]="'/'">
        <mat-icon class="icon">arrow_back</mat-icon>
        Volver al catálogo
      </a>

      <!-- Botón Enviar Pedido -->
      <a class="send-link" (click)="mostrarFormulario()">
        <mat-icon class="icon">send</mat-icon>
        Enviar Pedido
      </a>
    </div>
  </div>
</div>
