/* Estilo del banner */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #1d3557;
  display: flex;
  justify-content: space-between; /* Separa los elementos del logo principal y las marcas */
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 110px;
}
/* Contenedor del logo con fondo blanco y bordes redondeados */

/* Estilo del logo */
.logo-container img {
  max-height: 70px;  /* Ajusta el tamaño del logo */
  object-fit: contain;
  margin-top: 15px;
}

/* Evita que el contenido se superponga al banner */
.catalogo-container {
  margin-top: 70px; 
}


  /* Estilos generales */
  body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;  /* Fondo blanco */
    color: #333;  /* Gris oscuro para textos */
    padding: 20px;
  }
  
  .card:hover {
    transform: scale(0.98);  /* Producto se achica cuando el ratón está encima */
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para la descripción y el precio */
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2A4D77;  /* Azul oscuro para el título del producto */
    margin-bottom: 5px;
  }
  
  .card-description {
    font-size: 1rem;
    color: #B0B0B0;  /* Gris claro para las descripciones */
    margin-bottom: 20px;
  }
  
  
  /* Estilo para el botón de comprar */
  button {
    background-color: #2A4D77;  /* Azul oscuro para el botón */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #1A3C5D;  /* Azul más oscuro al hacer hover */
  }
  
  /* Mensaje de carga */
  .loading-text {
    text-align: center;
    color: #B0B0B0;  /* Gris claro para el texto de "cargando" */
    font-size: 1.2rem;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
