<base href="/Catalogo-ilmondo/assets/" />

<!-- Preloader -->
<div *ngIf="isLoading" id="preloader">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading">
  <!-- Banner -->
  <div class="banner">
    <!-- Contenedor del logo principal -->
    <div class="logo-container">
      <img src="assets/iconosylogos/logoilmondo.png" alt="Logo Ilmondo" />
    </div>

    <!-- Botón de contacto -->
    <div class="phone-button-container">
      <button
        mat-raised-button
        color="primary"
        class="phone-button"
        [routerLink]="'/contacto'"
      >
        <mat-icon>phone</mat-icon>
      </button>
    </div>
  </div>

  <!-- Catálogo -->
  <div class="catalogo-container">
    <!-- Título del catálogo -->
    <h2 class="title">
      <mat-icon>format_align_justify</mat-icon>
      Catálogo de Productos
    </h2>

    <!-- Contenedor de búsqueda y categorías -->
    <div class="search-categories-container">
      <!-- Input de búsqueda -->
      <div class="search-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="filtrarProductos()"
          placeholder="Buscar productos..."
          class="search-input"
        />
      </div>

      <!-- Desplegable Categorías -->
      <div class="dropdown-container">
        <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
          <option value="">Todas las categorías</option>
          <option *ngFor="let categoria of categorias" [value]="categoria">
            {{ categoria }}
          </option>
        </select>
      </div>
    </div>

    <!-- Mensaje de carga -->
    <div *ngIf="productosFiltrados.length === 0">
      <p class="loading-text">No se encontraron productos.</p>
    </div>

    <!-- Contenedor de tarjetas -->
    <div class="container">
      <div *ngFor="let producto of productosFiltrados" class="card">
        <div class="image-container">
          <!-- Imagen de producto -->
          <img [src]="producto.foto" alt="{{ producto.nombre }}" />
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ producto.nombre }}</h3>
          <p class="card-price">
            Precio c/u:
            <span class="price-number">{{ producto.precio | number }}</span>
            <span class="price-currency">gs</span>
          </p>
          <p class="card-box">Unidades: {{ producto.caja }}</p>
          <button
            (click)="agregarALista(producto)"
            [class.selected]="productoSeleccionado(producto)"
          >
            {{
              productoSeleccionado(producto)
                ? "Ya en la lista"
                : "Agregar a mi lista"
            }}
          </button>
        </div>
      </div>
      <a mat-fab class="floating-button" [routerLink]="'/lista'">
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </div>
  </div>
</div>
